@page
@model testAPI.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.test[0].nama_film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.test[0].tahun_rilis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.test[0].jumlah_copy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.test) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama_film)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tahun_rilis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jumlah_copy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
